# Dependencias
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Directorios de construcción y pruebas
/dist
/coverage
README.md

# Archivos de configuración de desarrollo
.env
.env.local
.env.*.local

# Archivos de IDE y editores
.idea
.vscode
*.swp
*.swo

# Archivos de control de versiones
.git
.gitignore

# Archivos de log
*.log

# Archivos temporales
tmp
temp

# Otros archivos que no son necesarios en la imagen
Dockerfile*
docker-compose.yml
.dockerignore