<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Verificación de Cuenta</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .header {
            text-align: center;
            padding: 20px 0;
        }
        .header h1 {
            margin: 0;
            color: #0056b3;
        }
        .content {
            padding: 20px 0;
            text-align: center;
        }
        .verification-code {
            font-size: 24px;
            font-weight: bold;
            color: #0056b3;
            margin: 20px 0;
        }
        .footer {
            padding: 20px 0;
            text-align: center;
            color: #888;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Verificación de Cuenta</h1>
        </div>
        <div class="content">
            <p>Hola Viajero,</p>
            <p>Gracias por registrarte en nuestra plataforma. Para completar tu registro, por favor verifica tu cuenta utilizando el siguiente código:</p>
            <div class="verification-code">
                {{codigo_verificacion}}
            </div>
			<div>
				<p>También puedes acceder a la verificación con el siguiente enlace en tu navegador:</p>
				<a href="{{url_verificacion}}">Link de verificación</a>
			</div>
            <p>Si no solicitaste esta verificación, por favor ignora este correo.</p>
        </div>
        <div class="footer">
            <p>© 2024 Viajero. Todos los derechos reservados.</p>
        </div>
    </div>
</body>
</html>
